@model CodeTheWay.Web.Ui.Models.ViewModels.BarrelViewModel
@*
    ViewData["Title"] = "Details";
*@
<h1>Details</h1>
<p>Id: @Model.Id</p>
<p>Weight: @Model.Weight</p>
<p>Radius: @Model.Radius</p>
<p>Height: @Model.Height</p>
<p>Contents: @Model.Contents</p>
<p>Owner: @Model.Owner</p>
<p>Sender: @Model.Sender</p>
<p>Receiver: @Model.Receiver</p>
<p>SpecialInstruction: @Model.SpecialInstruction</p>
<p>Longitude: @Model.GetLongitude</p>
<p>Latitude: @Model.GetLatitude</p>
<p>Shipping: @Model.isShipping</p>


<div>
    <a asp-action="Index">Back to List</a>
</div>