@model CodeTheWay.Web.Ui.Models.ViewModels.BarrelViewModel    
@*
    ViewData["Title"] = "Details";
*@

<h1>Details</h1>
<div class="container-fluid table-responsive">
    <table class="table table-hover table-striped">
        <tr>
            <td><h4>Id:</h4></td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td><h4>Weight:</h4></td>
            <td>@Model.Weight</td>
        </tr>
        <tr>
            <td><h4>Radius:</h4></td>
            <td>@Model.Radius</td>
        </tr>
        <tr>
            <td><h4>Height:</h4></td>
            <td>@Model.Height</td>
        </tr>
        <tr>
            <td><h4>Contents:</h4></td>
            <td>@Model.Contents</td>
        </tr>
        <tr>
            <td><h4>Owner:</h4></td>
            <td>@Model.Owner</td>
        </tr>
        @if (Model.isShipping == true)
        {
    <tr class="shipping">
        <td><h4>Sender:</h4></td>
        <td>@Model.Sender</td>
    </tr>
        <tr class="shipping">
            <td><h4>Receiver:</h4></td>
            <td>@Model.Receiver</td>
        </tr>
        <tr class="shipping">
            <td><h4>SpecialInstruction:</h4></td>
            <td>@Model.SpecialInstruction</td>
        </tr>
        }
        <tr>
            <td><h4>Longitude:</h4></td>
            <td>@Model.GetLongitude</td>
        </tr>
        <tr>
            <td><h4>Latitude:</h4></td>
            <td>@Model.GetLatitude</td>
        </tr>
        <tr>
            <td><h4>Shipping:</h4></td>
            <td>@Model.isShipping</td>
        </tr>

    </table>
</div>


<div align="center">
    <button class="btn btn-back"><a asp-action="Index">Back to List</a></button>
</div>