@model List<CodeTheWay.Web.Ui.Models.Barrel>
@*
    ViewData["Title"] = "Index";
*@

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Contents
            </th>
            <th>
                Weight
            </th>
            <th>
                Owner
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                <div>
                    <div>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    </div>
                </div>
                <div>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </div>
                <div>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </div>
            </td>
        </tr>
    }
</table>
<div>
    <a asp-action="Create">Create a Shipping Container.</a>
</div>
